<!DOCTYPE html>
<html>
  <head>
    <title>HBCUmatch - Begin Survey </title>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/header'); %>
    <h3> Survey Complete! </h3>

    <% if ((username) == "Guest") { %>
      <p> Hey <%= username %> , if you want your preferences saved
          please click the link below to create an account. 
      </p>
      <form action = "/auth/Registration" method= "get">
        <div class="ml-auto mr-sm-5">
          <button class="btn btn-success" >Create an Account</button>
        </div> 
      </form>  

   <% }else{ %>
      <p> Your preferences have been saved, <%= username %> </p>
   <% }%>

  </body>
  
  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</html>